@model IEnumerable<HTML_HELPERS.Models.Formulario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<head>
    <style>
        .cuerpo {
            background-image: url(https://images.pexels.com/photos/606453/pexels-photo-606453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size:cover;
        }

        .muestra {
            position: center;
            background-color: #FFF4EC;
            border-radius: 10px;
        }
    </style>
</head>
<body class="cuerpo">
    <div class="muestra">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hobbies)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hobbies)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
